{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block body %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto"><h2>Приветствую в нашем магазине</h2>
                <div class="text-center">
                    <p class="w-lg-50">Наша компания "Обычный интернет-магазин"
                        была основана еще в прошлом веке, когда интернет только зарождался и никто не верил в онлайн торговлю.</p>
                    <p class="w-lg-50">Мы пережили dotcom кризис, взлеты и падения криптовалют, появление интернет-гигантов вроде Amazon.
                        Каким-то чудом нам удается до сих пор существовать..</p>
                    <p class="w-lg-50">За эти годы мы продали не один десяток, а может даже и сотню товаров. Наш ассортимент
                        постоянно меняется - сегодня мы торгуем смартфонами, завтра - кофемашинами, а послезавтра - кто знает?</p>
                    <p class="w-lg-50">Мы не стремимся к росту и масштабированию. Наш девиз "Медленно, но верно". У нас нет
                        ни маркетингового отдела, ни HR. Весь штат - это наш основатель и единственный сотрудник Вася.</p>
                    <p class="w-lg-50">Мы не знаем всех этих модных терминов вроде "конверсия", "LTV" или "ROI". Зато мы
                        знаем, что такое честность и уважение к клиентам.</p>
                    <p class="w-lg-50">В общем, добро пожаловать в наш интернет-магазин! У нас может и не всегда дешево,
                        зато с душой!</p>
                </div>
        </div>
    </div>
{% endblock %}